:root {
  --color-background-default: rgb(255, 255, 255);
  --color-background-overlay: rgba(244, 244, 244, 0.85);
  --color-background-muted: rgba(244, 244, 244, 0.85);
  --color-background-minor: rgba(0, 0, 0, 0.05);
  --color-background-border: rgba(0, 0, 0, 0.1);
  --color-typography-on-background-25: rgba(0, 0, 0, 0.25);
  --color-typography-on-background-45: rgba(0, 0, 0, 0.45);
  --color-typography-on-background-65: rgba(0, 0, 0, 0.65);
  --color-typography-on-background-90: rgba(0, 0, 0, 0.9);
  --color-typography-on-background-default: rgba(0, 0, 0, 0.9);
  --color-typography-on-background-additional: rgba(0, 0, 0, 0.65);
  --color-typography-on-background-minor: rgba(0, 0, 0, 0.45);
  --color-typography-on-background-muted: rgba(0, 0, 0, 0.25);
  --color-typography-on-color-25: rgba(255, 255, 255, 0.25);
  --color-typography-on-color-45: rgba(255, 255, 255, 0.45);
  --color-typography-on-color-65: rgba(255, 255, 255, 0.65);
  --color-typography-on-color-100: rgb(255, 255, 255);
  --color-typography-on-color-default: rgb(255, 255, 255);
  --color-typography-on-color-additional: rgba(255, 255, 255, 0.65);
  --color-typography-on-color-minor: rgba(255, 255, 255, 0.45);
  --color-typography-on-color-muted: rgba(255, 255, 255, 0.25);
  --color-primary-10: rgba(68, 122, 202, 0.1);
  --color-primary-25: rgba(68, 122, 202, 0.25);
  --color-primary-45: rgba(68, 122, 202, 0.45);
  --color-primary-100: rgb(68, 122, 202);
  --color-primary-default: rgb(68, 122, 202);
  --color-primary-disabled: rgba(68, 122, 202, 0.45);
  --color-primary-action: rgb(52, 100, 171);
  --color-secondary-45: rgba(79, 190, 12, 0.45);
  --color-secondary-100: rgb(79, 190, 12);
  --color-secondary-default: rgb(79, 190, 12);
  --color-secondary-disabled: rgba(79, 190, 12, 0.45);
  --color-secondary-action: rgb(59, 137, 11);
  --color-hover-45: rgba(216, 9, 71, 0.45);
  --color-hover-100: rgb(216, 9, 71);
  --color-hover-default: rgb(216, 9, 71);
  --color-hover-disabled: rgba(216, 9, 71, 0.45);
  --color-status-error-10: rgba(255, 65, 54, 0.1);
  --color-status-error-25: rgba(255, 65, 54, 0.25);
  --color-status-error-default: rgb(255, 65, 54);
  --color-status-success-10: rgba(79, 190, 12, 0.1);
  --color-status-success-25: rgba(79, 190, 12, 0.25);
  --color-status-success-default: rgb(79, 190, 12);
  --color-status-warning-10: rgba(255, 163, 36, 0.1);
  --color-status-warning-25: rgba(255, 163, 36, 0.25);
  --color-status-warning-default: rgb(255, 163, 36);
  --shadow-level-1: 
    0 0.2px  1.5px rgba(0, 0, 0, 0.024),
    0 0.5px  4.1px rgba(0, 0, 0, 0.035),
    0 1.2px  9.9px rgba(0, 0, 0, 0.046),
    0 4px   33px   rgba(0, 0, 0, 0.07)
  ;
  --shadow-level-2: 
    0 0.4px  1.8px rgba(0, 0, 0, 0.035),
    0 1px    5px   rgba(0, 0, 0, 0.05),
    0 2.4px 12.1px rgba(0, 0, 0, 0.065),
    0 8px   40px   rgba(0, 0, 0, 0.1)
  ;
  --shadow-level-3: 
    0  0.4px  2.2px rgba(0, 0, 0, 0.025),
    0  1px    5.6px rgba(0, 0, 0, 0.035),
    0  2.1px 11.3px rgba(0, 0, 0, 0.045),
    0  4.4px 23.4px rgba(0, 0, 0, 0.055),
    0 12px   64px   rgba(0, 0, 0, 0.08)
  ;
  --shadow-level-4: 
    0  0.4px  2.2px rgba(0, 0, 0, 0.028),
    0  1.1px  5.3px rgba(0, 0, 0, 0.04),
    0  2px   10px   rgba(0, 0, 0, 0.05),
    0  3.6px 17.9px rgba(0, 0, 0, 0.06),
    0  6.7px 33.4px rgba(0, 0, 0, 0.072),
    0 16px   80px   rgba(0, 0, 0, 0.1)
  ;
  --animation-transition-default: cubic-bezier(0.55, 0, 0.1, 1);
  --animation-speed-flash: 0.025s;
  --animation-speed-default: 0.325s;
  --z-index-base: 0;
  --z-index-modal: 1000;
}