@keyframes shine {
  0% {
    background-position: -75%;
  }

  100% {
    background-position: 150%;
  }
}


.Skeleton {
  position: relative;
  overflow: hidden;
  opacity: 0.25;
  pointer-events: none;
}

.Skeleton::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, transparent, white, transparent);
  background-size: 320px 99999px;
  background-repeat: no-repeat;
  animation: shine var(--animation-speed-super-slow) var(--animation-transition-default) infinite;
}
